################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs
/QuestSystem/.vs/QuestSystem/v16
/QuestSystem/QuestSystem/Debug
/QuestSystem/UnitTest1/Debug
*.user
/QuestSystem/Sample/Debug
*.csv#
/QuestSystem/QuestSystem/Release
/QuestSystem/Release/UnitTest1.pdb
/QuestSystem/Release/UnitTest1.lib
/QuestSystem/Release/UnitTest1.exp
/QuestSystem/Release/UnitTest1.dll
/QuestSystem/Release/Sample.pdb
/QuestSystem/Release/Sample.exe
/QuestSystem/Sample/Release
/QuestSystem/UnitTest1/Release
/QuestSystem/Debug/UnitTest1.pdb
/QuestSystem/Debug/UnitTest1.lib
/QuestSystem/Debug/UnitTest1.exp
/QuestSystem/Debug/UnitTest1.dll
/QuestSystem/Debug/Sample.pdb
/QuestSystem/Debug/Sample.exe
/QuestSystem/.vs/QuestSystem
/QuestSystem/QuestSystem/x64/Release
/QuestSystem/QuestSystem/x64/Debug
/QuestSystem/Sample/x64/Release
/QuestSystem/Sample/x64/Debug
/QuestSystem/UnitTest1/x64/Release
/QuestSystem/UnitTest1/x64/Debug
/QuestSystem/x64/Debug/UnitTest1.pdb
/QuestSystem/x64/Debug/UnitTest1.lib
/QuestSystem/x64/Debug/UnitTest1.exp
/QuestSystem/x64/Debug/UnitTest1.dll
/QuestSystem/x64/Debug/Sample.pdb
/QuestSystem/x64/Debug/Sample.exe
/QuestSystem/x64/Release/UnitTest1.pdb
/QuestSystem/x64/Release/UnitTest1.lib
/QuestSystem/x64/Release/UnitTest1.exp
/QuestSystem/x64/Release/UnitTest1.dll
/QuestSystem/x64/Release/Sample.pdb
/QuestSystem/x64/Release/Sample.exe
/QuestSystem/QuestSystem/x64/Debug_VisualStudio2019
/QuestSystem/Sample/x64/Debug_VisualStudio2019
/QuestSystem/UnitTest1/x64/Debug_VisualStudio2019
/QuestSystem/x64/Debug_VisualStudio2019/UnitTest1.pdb
/QuestSystem/x64/Debug_VisualStudio2019/UnitTest1.lib
/QuestSystem/x64/Debug_VisualStudio2019/UnitTest1.exp
/QuestSystem/x64/Debug_VisualStudio2019/UnitTest1.dll
/QuestSystem/x64/Debug_VisualStudio2019/Sample.pdb
/QuestSystem/x64/Debug_VisualStudio2019/Sample.exe
